@model Chamado;

@{
    ViewData["Title"] = "Novo Chamado";
}

<div class="container">
    <div class="container bg-dark text-light px-5 py-4 rounded-5 w-50 my-4">

        <div class="d-flex justify-content-end">
            <a type="button" class="btn btn-primary w-25" asp-controller="Home" asp-action="Index">Voltar</a>
        </div>

        <div class="mt-4"> 
            <h2 class="text-center"> Chamado Nº </h2>
        </div>

        <form method="post" asp-controller="Home" asp-action="NovoChamado">
            <!-- Nome e Chapa -->
            <div class="d-flex my-3">
                <div class="form-group w-75 me-3">
                    <label for="name">E-mail</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email" value="erikfernandes@coyote.com" readonly>
                </div>
                <div class="form-group w-25">
                    <label for="chapa">Chapa/Matrícula</label>
                    <input type="text" class="form-control" id="chapa" value="00038976" readonly>
                </div>
            </div>

            <!-- DataAbertura e Assunto -->
            <div class="d-flex my-3">
                <div class="form-group w-25 me-3">
                    <label for="chapa">Data Abertura</label>
                    <input type="text" class="form-control" id="dataAbertura">
                </div>
                <div class="form-group w-75">
                    <label for="assunto">Assunto:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1">
                </div>
            </div>

            <!-- STTATUS -->
            <div class="d-flex my-3">
                <div class="form-group w-100">
                    <label for="assunto">Status:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1">
                </div>
            </div>

            <!-- Ultima Atualização e Analista -->
            <div class="d-flex my-3">
                <div class="form-group w-25 me-3">
                    <label for="chapa">Prazo</label>
                    <input type="text" class="form-control" id="ultimaAtualizacao">
                </div>
                <div class="form-group w-75">
                    <label for="assunto">Analista Responsável:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" value="Gabriela de Jesus" readonly>
                </div>
            </div>



            <!-- Assunto -->
            <div class="form-group my-3 d-flex flex-column">


             <!-- Observações -->
                <div class="form-group my-3">
                    <label for="exampleFormControlTextarea1">Observações</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>


                <!-- Botão -->
                <div class="d-flex gap-5 mt-3">
                    <button type="submit" class="btn btn-warning w-50">Editar</button>
                    <button type="submit" class="btn btn-danger w-50">Deletar</button>
                </div>

            </div>
        </form>
    </div>
   </div>
</div>